<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmsArticleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="CmsArticle">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="is_show" property="isShow" />
		<result column="is_top" property="isTop" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

</mapper>
